.single--proposal {
    background: #ffffff;
    mix-blend-mode: normal;
    border-radius: 0px 20px 20px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    padding: 1rem;
    border-left: 6px solid #ff00b8;
  }
  .single--proposal:not(:first-child) {
    margin-top: 2.5rem;
  }
  .col--left {
    display: flex;
    width: 100%;
  }
  .proposal--main__property {
    width: 100%;
    margin-left: 1.1rem;
    font-family: Red Hat Display;
  }
  .proposal--title {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 28.5px;
    line-height: 111.19%;
    /* identical to box height, or 32px */
  
    /* brandpurple */
  
    color: #151371;
  }
  .proposal--category {
    margin-left: 1rem;
    color: #282828;
  }
  .proposal--status {
    padding: 1rem 0.4rem 0;
  }
  .proposal--status__icons {
    display: flex;
    justify-content: space-between;
    margin: 0 !important;
  }
  .proposal--status__icons .unaproved {
      text-align: start;
      margin-left: -10px;
  }
  .proposal--status__icons .unaproved h6 {
      margin-left: -15px;
  }
  .proposal--status__icons .planned,
  .proposal--status__icons .progress
   {
      text-align: center;
  }
  .proposal--status__icons .completed {
      text-align: end;
      margin-right: -10px;
  }
  .proposal--status__icons .completed h6{
      margin-right: -15px;
  }
  .proposal-percent {
    background: #b2b2b2;
    border-radius: 4px;
    height: 8px;
    width: 100%;
    position: relative;
  }
  .proposal--pecent__show {
    height: 100%;
    width: 35%;
    background: #151371;
    border-radius: 4px;
  }
  /* .proposal-percent::after {
    content: "";
    height: 100%;
    width: 35%;
    background: #151371;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  } */
  
  .col--right {
    display: flex;
    justify-content: space-between;
  }
  .proposal--main__properties {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .proposal--property__top {
    display: flex;
    /* background-color: coral; */
    justify-content: space-between;
    text-align: center;
    font-family: Red Hat Display;
    color: #282828;
  }
  .proposal--property__top .views {
    padding:0 20px;
  }
  .proposal--property__top h3 {
    color: #585757;
  }
  .created--date {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
  }
  .red {
    color: crimson;
  }
  .proposal--btns {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .proposal--btns button {
    background: #ffffff;
    border: 1px solid #151371;
    box-sizing: border-box;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 6px 10px;
    font-family: Red Hat Display;
    cursor: pointer;
  }
  .claim-btn {
    background: #151371 !important;
    color: #fff;
  }
  .proposal--votes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  .fa-up,
  .fa-down {
    font-size: 3rem;
    color: #9f9f9f;
    cursor: pointer;
    transition: 200ms ease-in-out;
  }
  .fa-up:hover,
  .fa-up:hover .vote-count {
    color: #ff00b8;
  }
  .fa-down:hover,
  .fa-down:hover.vote-count {
    color: #151371;;
  }
  .check-status .hide {
    opacity: 0;
  }
  @media only screen and (max-width: 1220px) {
    .single--proposal {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    .proposal--status__icons .completed h6 {
      margin-right: -2px;
  }
  }
  
  @media only screen and (max-width: 867px) {
   
  }