:root {
    --primary: #FFE1DD;
    --font: 'Red Hat Display', sans-serif;
    --cs: 15px;
    --br: 10px;
  }
  body{
    font-family: 'Red Hat Display', sans-serif;
  }
  .body-bg{
    background: linear-gradient(90deg, rgb(255, 6, 184) 0%, rgb(255, 199, 0) 100%);
  }
  .hero-section{
    background-color: var(--primary);
    font-family: var(--font);
  }
  .modarator-hero-title img{
    padding-bottom: 7px; 
    align-items: flex-end;
  }
  .modarator-hero-title h1{
    margin-bottom: 0px;
    margin-top: 0px; color: yellow;
  }
  .modarator-hero-title p{
    margin: 0%;
    top: 0px;
    margin-bottom: 50px;
  }
  .proposal-container{
    background: linear-gradient(90deg, rgb(255, 6, 184) 0%, rgb(255, 199, 0) 100%);
    font-family: var(--font);
  }
  .proposals{
      border-radius: 20px;
      background: linear-gradient(90deg, rgb(62, 32, 53) 100%, rgb(62, 32, 53) 100%);
      height: auto;
      font-family: var(--font);
     
  }
  .proposal-title{
    margin-left: 10px;
    padding-top: 20px;
  }
  .proposal-title h4{
    color:#151371;
  }
  .btn-view{
    border: 1px solid #151371;
    color: #151371; 
    height: 40px; font-size: 18px;
    border: none;
  }
  .btn-create{
    background-color: #151371;
    color: #fff; 
    height: 40px; font-size: 18px;
    border: none;
  }
  hr.line{
    border: 2px solid white;
  }
  .check-minority-earn{
    background-image: url('../../images/mask.png');
    background-color: #151371;
    height: 200px;
    align-items:center;
    justify-content:center;
  }
  .check-minority-earn h5{
    color: white;
    font-weight: lighter;
    font-family: var(--font);
  }
  .check-minority-earn p button{
    color:#151371;
    font-weight: 500;
    line-height: 19.54px;
    font-family: var(--font);
  }
  .earn-details span{
    font-size: 18px;
    color: #282828;
    background-color: #E3E3E3;
    display: block;
    text-align: right;
    font-family: var(--font);
  }
  .earn-details h4{
    color: #282828;
    background-color: #E3E3E3;
    display: block;
    text-align: right;
    font-family: var(--font);
  }
  .earn-details{
    padding-right: 20px;
  }
  .your-vote{
    padding: 20px auto;
    border-radius: 20px;
    background-color: blue;
  }
/* Project manager proposal */
.task-container{
  background: linear-gradient(90deg, #FF00B8 0%, #FF655B 50.8%, #FFC700 100%);
  height: 35vh;
  position: relative;
  
}
.task-proposal{
  height: 100%;
  position: absolute;
  margin-top: 20px;
  z-index: 100;
  background-color: #FF00B8;
  font-family: 'Red Hat Display', sans-serif;
}
  .task-header{
    background-color: #FF00B8;
    font-family: 'Red Hat Display', sans-serif;
  }
  .root-bg{
    background: linear-gradient(90deg, #FF00B8 0%, #FF655B 50.8%, #FFC700 100%);
  }
  .task-bg{
    background-color: #151371;
    background-image: url('../../images/mask.png');
  }
  .task{
    background-color: white;
    margin-top: 5px;
  }
  .task-title p{
    font-weight: 100;font-family: 'Red Hat Display', sans-serif;margin-left: 20px;
  }
  .task-title span{
    font-weight: 100;font-family: 'Red Hat Display', sans-serif;margin-left: 20px;
    color: gray;
  }
  .task-title h4{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;margin-left: 20px;
    color:#151371;
  }
  .task-user{
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    height: 120px;
    background-color: white;
    display: flex;
    align-items: center;
    
  }
  .task-description-input textarea{
    color:gray;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 100;margin-left: 20px;
  }
  .task-cont{
    text-align: center;
    margin-left: 20px;
  }
  .task-cont img{
    height: 80px;
    padding-right: 20px;

  }
  .add-task{
    border-right:5px solid #151371;
    border-left:5px solid #151371;
  }
  .task-cont span{
    color: gainsboro;
    font-weight: 100;
  }
  .task-count p{
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .task-count i{
    font-size: 50px;
  }
  .task-count-arrow div{
    margin: 0%;
    font-size: 30px;
  }
  .icons img{
    width: 40px;margin-right: 20px;
  }
  .btn-add-sub{
    background-color: #FF62D2;
    border: none;
    color: white;
    border-radius: 5px;
  }
  .btn-create-task{
    background-color: #151371;
    border: none;
    width: 120px;
    height: 30px;
    color: white;
    border-radius: 5px;
  }
  .btn-planned{
    background-color: #8685B2;
    border: none;
    width: 120px;
    height: 30px;
    color: white;
    border-radius: 5px;
  }
  .ct-notification-btn{
    background: linear-gradient(103.85deg, #FF00B8 2.54%, #FF655B 58.76%, #FFC700 113.82%);
    box-sizing: border-box;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    height: 40px;
  }
  /* proposal-status */
  .proposal-status{
    background: linear-gradient(90deg, rgb(255, 161, 219) 0%, rgb(255, 224, 161) 100%);
    text-align: center;
    height: 200px;
    font-family: 'Red Hat Display', sans-serif;
  }
  .hero-proposal{
    background: linear-gradient(90deg, rgb(255, 161, 219) 0%, rgb(255, 224, 161) 100%);
  }
  .proposal-status h2{
    color:#151371 ;
  }
  /* View Task */
  .view-task-header{
    background-color: black;
    font-family: 'Red Hat Display', sans-serif;
  }
  .planned-task{
    background: linear-gradient(180deg, rgba(21, 19, 113, 0.6) 0%, rgba(0, 0, 0, 0.18) 100%);
    border-radius: 10px;
    text-align: center;
  }
  .planned-title{
    background-color: #151371;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-top: 4px solid white;
  }
  .planned-title h4{
    color: white; 
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
  }
  /* view task card */
  .root {
    display: flex;
    align-items: center;
}
  .content {
    position: relative;
    margin: auto;
    max-width: 280px;
    background-color: #ffffff;
    color: #363c5f;
    padding: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: var(--br);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--cs)), calc(100% - var(--cs)) 100%, 0 100%);
}

.content::after {
  content: '';
  position: absolute;
  display: block;
  width: var(--cs);
  height: var(--cs);
  background-color: #D3D3D3;
  border: 0.5px solid #494949;
  bottom: 0;
  right: 0;
  border-top-left-radius: var(--br);
}
.content p{
  margin: 0%; padding: 0%;
}
.btn-tag{
  background-color: #8685B2;
  border: none;
  width: 60px;
  height: 20px;
  font-size: 12px;
  color:#151371 ;margin: 0%; padding: 0%;
}

.btn-tag2{
  background-color: #DEDEEB;
  border: none;
  color:#151371 ;
  width: 60px;
  height: 20px;
  font-size: 12px;
  margin: 0%; padding: 0%;
}
/* task arrow button */
.design{
  position: relative;
  width:40px;
  background: rgba(255, 0, 184, 0.5);
  height:20px;
  margin-bottom:5px; 
  text-align:center;
  font-size: 12px;
  color:#151371;
  font-weight: 100;
  cursor: pointer;
}
.design-right:after{
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid rgba(255, 0, 184, 0.5); 
}
.develop{
  position: relative;
  width:40px;
  background: rgba(21, 19, 113, 0.2);
  height:20px;
  margin-bottom:5px; 
  text-align:center;
  font-size: 12px;
  color:#151371;
  font-weight: 100;
  cursor: pointer;
}
.develop-right:after{
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid rgba(21, 19, 113, 0.2); 
}
.more-option{
  font-size: 12px; cursor: pointer;
}
/* Header */
#header {
  background: linear-gradient(90deg, #FF00B8 0%, #FF655B 50.8%, #FFC700 100%);
  height:15vh;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  position: relative;
}
/* Planned Task Status */

.task-status {
  background: #f9f9f9;
  mix-blend-mode: normal;
  box-shadow: 4px -4px 16px rgba(21, 19, 113, 0.4),
    -4px 4px 16px rgba(21, 19, 113, 0.4);
  border-radius: 0px;
  margin: 3rem 0;
  
}

.ttask--header {
  padding: 1rem 2rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.18);
}
.task-header-breadcrumb {
  display: flex;
}
.task-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task--sub--task__cat--people img {
  width: 18px;
  height: 18px;
}
.task-header-user-icon {
  margin-left: 1.8rem;
  display: flex;
  align-items: center;
}
.task-breadcrumb {
  display: flex;
  align-items: center;
}
.task-breadcrumb > b {
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}
.task-header-user-icon > span {
  padding-right: 8px;
}
.print--share {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.print--share svg:first-child {
  margin-right: 10px;
}

.task-title-name {
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.task-title-name .fa-circle {
  color: orange;
}
.task-title-name h3 {
  color: rgba(241, 177, 177, 0.8);
  padding-left: 10px;
}
.task--sub--all_details,
.task--sub--date__properties,
.task--sub__cat__feature {
  display: flex;
}
.task--sub--date__properties.task--sub__created span{
  font-family: Red Hat Display;
  font-style: 100;
}
.task--sub--all_details {
  justify-content: space-between;
}
.task--sub__cat__feature span {
  position: relative;
}
.task--sub__cat__feature span {
  margin-right: 15px;
  font-weight: 100;
}
.task--sub__cat__feature .task--sub__design,
.task--sub__cat__feature .task--sub__feature {
  width: max-content;
  padding: 1.4px 3px;
  position: relative;
  font-size: 14px;
}
.task--sub__cat__feature .task--sub__design::after,
.task--sub__cat__feature .task--sub__feature::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: -10px;
  border-top: 11px solid transparent;
  border-bottom: 10px solid transparent;
}
.task--sub__cat__feature .task--sub__design {
  background: rgba(255, 0, 184, 0.5);
}
.task--sub__cat__feature .task--sub__design::after {
  border-left: 10px solid rgba(255, 0, 184, 0.5);
}
.task--sub__cat__feature .task--sub__feature {
  background: rgba(21, 19, 113, 0.2);
}
.task--sub__cat__feature .task--sub__feature::after {
  border-left: 10px solid rgba(21, 19, 113, 0.2);
}
.task--sub__cat__feature {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.task--sub__icon {
  background: rgba(20, 20, 113, 0.6);
  color: #ffffffff;
  padding: 5px 6px 3px;
  border-radius: 50%;
}
.task--sub--date__properties {
  display: flex;
  align-items: center;
  font-family: Red Hat Display;
  font-weight: 100;
}
.task--sub--date__properties img {
  width: 25px;
  height: 20px;
}
.task--sub--date__properties .task--sub__created {
  margin-right: 35px;
}
.task--sub--date__properties .task--sub__created h4 {
  color: #282828;
  font-weight: 500;
}
.task--sub--date__properties .task--sub__created .fa-play {
  color: #ff00b8;
  margin-right: 4px;
}
.task--sub--date__properties .task--sub__created .fa-hour {
  color: #151371;
  margin-right: 4px;
}
.task--sub__created > span {
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}
.purple {
  color: #ff00b8 !important;
}
.task--sub--body__top,
.task--sub--body__bottom {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.task--sub--body__description {
  padding: 1rem 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.6);
}
.text-center {
  text-align: center;
}
.task-description-input {
  position: relative;
  overflow-y: scroll;
}
.btn-show-more,
.btn-add-attachment {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.task-description-input h5{
  padding: 15px 0px;
  margin-bottom: 0%;
  padding-bottom: 0%;
  text-align: center;
  color: #777777;
  font-family: Red Hat Display;
  font-weight: bold;
}
.task-description-inpu button{
  font-family: Red Hat Display;
  font-weight: bold;
}
.btn-show-more {
  bottom: 4px;
  left: 40%;
  background: #f9f9f9;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 6px 20px;
  font-family: Red Hat Display;
  color: #777777;
  font-weight: bold;
}
.btn-add-attachment {
  right: 0;
  bottom: 16px;
  background: #f9f9f9;
  border-radius: 4px;
  border: 0.75px solid rgba(0, 0, 0, 0.5);
  outline: none;
  padding: 6px 10px;
  font-family: Red Hat Display;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777777;
}
.btn-add-attachment svg {
  margin-top:3px;
  margin-left: 5px;
}
.task-description-input textarea,
.task--sub--checklist,
.task--sub--status__update {
  width: 100%;
  margin: 10px 0;
  background: #e7e7e7;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;
  outline: none;
  padding: 10px;
  resize: none;
}

.task--sub--body__description--top .task-description-input textarea {
  height: 289px;
}
.task-description-input textarea::placeholder {
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.7);
  font-family: Red Hat Display;
}
.task-description-add-substack {
  margin-top: 15px;
}
.ttask-description-sub-input textarea{
  height: 35px;
}

.task-description-add-substack h3 span {
  background: rgba(255, 0, 184, 0.6);
  color: #fff;
  padding: 3px 4px 1px;
  border-radius: 5px;
}
.task-description-add-substack .task-description-input textarea {
  height: 43px;
}
.task--sub--input textarea {
  height: 43px;
  background: #e7e7e7;
  font-family: Red Hat Display;
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.task-status textarea{
  color: #777777;
  font-weight: 100;
  font-family: Red Hat Display;
}
.task--sub--body__checklist,
.task--sub--body__comment {
  padding: 1rem 2rem;
}
.task--sub--checklist {
  height: 88%;
  list-style: none;
}
.task--sub--checklist li {
  padding: 0.1rem 0.4rem;
}
.task--sub--status__update {
  height: 172px;
  list-style: none;
}
.task--sub--status__update li {
  display: flex;
  justify-content: space-between;
}
.task--sub--body__comment .task-description-input textarea {
  height: 128px;
}
.add--comment {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
}
.btn--comment {
  border: 1px solid #ff00b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  transition: 180ms ease-in-out;
}
.btn--comment:hover {
  color: #fff;
  background-color: #ff00b8;
}

.comment--icons__sare {
  display: flex;
  align-items: center;
}
.comment--icons__sare img {
  width:9px;
}
.fa-smile {
  margin-left: 7px;
  font-size: 1.1287rem;
}
.fa-comment {
  color: #ff00b8;
}
.paperclip {
  margin-left: 7px;
  font-size: 1.1287rem;
  cursor: pointer;
}
.fa-message {
  color: rgba(0, 0, 0, 0.4);
  margin: 0 8px;
  font-size: 1.125rem;
}
.fa-smile, .fa-comment, .fa-paperclip, .fa-message:hover{
  cursor: pointer;
}
.fa-smile {
  color: rgba(0, 0, 0, 0.6);
}
.task-scroll {
  overflow-y: scroll;
  height: 480px;
}
.task-scroll-bottom {
  overflow-y: scroll;
  height: 250px;
}
/* width */
.task-scroll::-webkit-scrollbar,
.task-scroll-bottom::-webkit-scrollbar {
  width: 10px;
  border-radius: 3px;
}

/* Track */
.task-scroll::-webkit-scrollbar-track,
.task-scroll-bottom::-webkit-scrollbar {
  background: #f1f1f1;
}

/* Handle */
.task-scroll::-webkit-scrollbar-thumb,
.task-scroll-bottom::-webkit-scrollbar {
  background: #c0c0c0;
}

/* Handle on hover */
.task-scroll::-webkit-scrollbar-thumb:hover,
.task-scroll-bottom::-webkit-scrollbar {
  background: #c0c0c0;
}

@media only screen and (max-width: 987px) {
  .task--sub--all_details {
    flex-direction: column;
    gap: 20px;
  }
  .task--sub--date__properties .task--sub__created {
    margin-right: 7px;
  }
  .btn-show-more {
    bottom: 4px;
    left: 0%;
  
  }
  .btn-add-attachment {
    right: 0;
    bottom: 15px;
  }
}

@media only screen and (max-width: 1286px) {
  .task--sub--body__top,
  .task--sub--body__bottom {
    grid-template-columns: 1fr;
  }
  .task--sub--body__checklist {
    margin-bottom: 1rem;
  }
}
/* Task card */
