
/*  */
.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: none;
    text-align: left;
  }
}
/*  */
.navbar {
  background: linear-gradient(90deg, #BF0F7C 0%, #FF655B 50.8%, #BF9401 100%);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 1500px;
}

.nav-logo {
  color: #fff;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  flex-grow: 1;
  top:0;
}
.all{
  color: white;
}
.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}


.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 40px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    bottom: 22px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 16px;
    cursor: pointer;
    color: #ffdd40;
  }
}