.task--sub__task {
  background: #f9f9f9;
  mix-blend-mode: normal;
  box-shadow: 4px -4px 16px rgba(21, 19, 113, 0.4),
    -4px 4px 16px rgba(21, 19, 113, 0.4);
  border-radius: 0px;
  margin: 3rem 0;
}
.task--sub--task__wrapper {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.18);
}
.task--sub--header__part {
  padding: 1rem 2rem;
}
.task--sub--task__cat--people {
  display: flex;
}
.task--sub--task__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task--sub--task__cat--people img {
  width: 18px;
  height: 18px;
}
.task--sub--task__participant {
  margin-left: 1.8rem;
  display: flex;
  align-items: center;
}
.task--sub--task-cat__subcat {
  display: flex;
  align-items: center;
}
.task--sub--task-cat__subcat > b {
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}
.task--sub--task__participant > span {
  padding-right: 8px;
}
.print--share {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.print--share svg:first-child {
  margin-right: 10px;
}

.task--sub--header__yellow {
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.task--sub--header__yellow .fa-circle {
  color: orange;
}
.task--sub--header__yellow h3 {
  color: rgba(241, 177, 177, 0.8);
  padding-left: 10px;
}
.task--sub--all_details,
.task--sub--date__properties,
.task--sub__cat__feature {
  display: flex;
}
.task--sub--all_details {
  justify-content: space-between;
}
.task--sub__cat__feature span {
  position: relative;
}
.task--sub__cat__feature span {
  margin-right: 15px;
}
.task--sub__cat__feature .task--sub__design,
.task--sub__cat__feature .task--sub__feature {
  width: max-content;
  padding: 1.4px 3px;
  position: relative;
  font-size: 14px;
}
.task--sub__cat__feature .task--sub__design::after,
.task--sub__cat__feature .task--sub__feature::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: -10px;
  border-top: 11px solid transparent;
  border-bottom: 10px solid transparent;
}
.task--sub__cat__feature .task--sub__design {
  background: rgba(255, 0, 184, 0.5);
}
.task--sub__cat__feature .task--sub__design::after {
  border-left: 10px solid rgba(255, 0, 184, 0.5);
}
.task--sub__cat__feature .task--sub__feature {
  background: rgba(21, 19, 113, 0.2);
}
.task--sub__cat__feature .task--sub__feature::after {
  border-left: 10px solid rgba(21, 19, 113, 0.2);
}
.task--sub__cat__feature {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.task--sub__icon {
  background: rgba(20, 20, 113, 0.6);
  color: #ffffffff;
  padding: 5px 6px 3px;
  border-radius: 50%;
}
.task--sub--date__properties {
  display: flex;
  align-items: center;
}
.task--sub--date__properties img {
  width: 25px;
  height: 20px;
}
.task--sub--date__properties .task--sub__created {
  margin-right: 35px;
}
.task--sub--date__properties .task--sub__created h4 {
  color: #282828;
  font-weight: 500;
}
.task--sub--date__properties .task--sub__created .fa-play {
  color: #ff00b8;
  margin-right: 4px;
}
.task--sub--date__properties .task--sub__created .fa-hour {
  color: #151371;
  margin-right: 4px;
}
.task--sub__created > span {
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}
.purple {
  color: #ff00b8 !important;
}
.task--sub--body__top,
.task--sub--body__bottom {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.task--sub--body__description {
  padding: 1rem 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.6);
}
.text-center {
  text-align: center;
}
.task--sub--input {
  position: relative;
}
.show__more--task--btn,
.add--attachment--task--btn {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.show__more--task--btn {
  bottom: 4px;
  left: 50%;
  background: #f9f9f9;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 6px 20px;
  font-family: Red Hat Display;
}
.add--attachment--task--btn {
  right: 0;
  bottom: 15px;
  background: #f9f9f9;
  border-radius: 4px;
  border: 0.75px solid rgba(0, 0, 0, 0.5);
  outline: none;
  padding: 6px 20px;
  font-family: Red Hat Display;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add--attachment--task--btn svg {
  margin-top:3px;
  margin-left: 5px;
}
.task--sub--input textarea,
.task--sub--checklist,
.task--sub--status__update {
  width: 100%;
  margin: 10px 0;
  background: #e7e7e7;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;
  outline: none;
  padding: 10px;
  resize: none;
}
.task--sub--body__description--top .task--sub--input textarea {
  height: 289px;
}
.task--sub--input textarea::placeholder {
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.7);
  font-family: Red Hat Display;
}
.task--sub--body__description--bottom {
  margin-top: 15px;
}

.task--sub--body__description--bottom h3 span {
  background: rgba(255, 0, 184, 0.6);
  color: #fff;
  padding: 3px 4px 1px;
  border-radius: 5px;
}
.task--sub--body__description--bottom .task--sub--input textarea {
  height: 43px;
}
.task--sub--body__checklist,
.task--sub--body__comment {
  padding: 1rem 2rem;
}
.task--sub--checklist {
  height: 88%;
  list-style: none;
}
.task--sub--checklist li {
  padding: 0.1rem 0.4rem;
}
.task--sub--status__update {
  height: 172px;
  list-style: none;
}
.task--sub--status__update li {
  display: flex;
  justify-content: space-between;
}
.task--sub--body__comment .task--sub--input textarea {
  height: 128px;
}
.add--comment {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
}
.btn--comment {
  border: 1px solid #ff00b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  transition: 180ms ease-in-out;
}
.btn--comment:hover {
  color: #fff;
  background-color: #ff00b8;
}
.comment--icons__sare {
  display: flex;
  align-items: center;
}
.comment--icons__sare img {
  width:9px;
}
.fa-smile {
  margin-left: 7px;
  font-size: 1.1287rem;
}
.fa-comment {
  color: #ff00b8;
}
.fa-message {
  color: rgba(0, 0, 0, 0.4);
  margin: 0 8px;
  font-size: 1.125rem;
}
.fa-smile {
  color: rgba(0, 0, 0, 0.6);
}
.task-scroll {
  overflow-y: scroll;
  height: 480px;
}
.task-scroll-bottom {
  overflow-y: scroll;
  height: 250px;
}
/* width */
.task-scroll::-webkit-scrollbar,
.task-scroll-bottom::-webkit-scrollbar {
  width: 10px;
  border-radius: 3px;
}

/* Track */
.task-scroll::-webkit-scrollbar-track,
.task-scroll-bottom::-webkit-scrollbar {
  background: #f1f1f1;
}

/* Handle */
.task-scroll::-webkit-scrollbar-thumb,
.task-scroll-bottom::-webkit-scrollbar {
  background: #c0c0c0;
}

/* Handle on hover */
.task-scroll::-webkit-scrollbar-thumb:hover,
.task-scroll-bottom::-webkit-scrollbar {
  background: #c0c0c0;
}

@media only screen and (max-width: 987px) {
  .task--sub--all_details {
    flex-direction: column;
    gap: 20px;
  }
  .task--sub--date__properties .task--sub__created {
    margin-right: 7px;
  }
  .show__more--task--btn {
    bottom: 4px;
    left: 0%;
  
  }
  .add--attachment--task--btn {
    right: 0;
    bottom: 15px;
  }
}

@media only screen and (max-width: 1286px) {
  .task--sub--body__top,
  .task--sub--body__bottom {
    grid-template-columns: 1fr;
  }
  .task--sub--body__checklist {
    margin-bottom: 1rem;
  }
}