
  .hero-container {
    height: 100vh;
    background-image: linear-gradient(rgba(21, 19, 113, 1), rgba(62, 54, 38) 100%),url('../../../images/image6.jpg');
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  .hero-container .hero-text > h3 {
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
  }
  .hero-container .hero-text > p {
    font-family: 'Red Hat Display', sans-serif;
    color: #FFBE09;
    font-size: 30px;
    text-align: center;
  }
  .hero-container .hero-btns{
    font-family: 'Red Hat Display', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  .hero-btns {
    margin-top: 32px;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  .hero-btns .btn {
    margin: 6px;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-family: 'Red Hat Display', sans-serif;
      font-size: 40px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-family: 'Red Hat Display', sans-serif;
      font-size: 30px;
      margin-top: -100px;
    }
    .hero-btns {
      font-family: 'Red Hat Display', sans-serif;
      display: flex;
    }
    .hero-container > p {
      font-family: 'Red Hat Display', sans-serif;
      font-size: 30px;
    }
  
    .btn-mobile {
      font-family: 'Red Hat Display', sans-serif;
      display: block;
      text-decoration: none;
    }
  
    .btn {
      font-family: 'Red Hat Display', sans-serif;
      width: 100%;
    }
  }